body{
    background-color: #000;
}
.container{
    margin-top: 20px;
    padding: 10px;
    border: 5px dotted blue;
}


.col{
    border: 2px solid rgba(120, 30, 30, 0.422);
    height: 150px;
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bi-bell{
    color: green;
}
.bi-sun-fill{
    color: yellow;
}
.bi-caret-right-square-fill{
    color: #D91F24;
}

i{
    font-size: 50px;
    margin-right: 10px;
}
